[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
sqlalchemy = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
cufflinks = "*"

[requires]
python_version = "3.7"
